@import '../../mixins/burger';
.burger {
    position: relative;
	z-index: 101;

    width: $navbar__height;
    height: $navbar__height;

	cursor: pointer;

	@include medium {
		display: none;
	}
}
.burger__line {
    @include burger--static($navbar__height, $navbar__color--primary);
}

.js-navbar__burger--active .burger__line {
    transform: rotate(315deg);

    &:before {
    transform: rotate(270deg);
    }

    &:after {
    transform: translateY(0);
    }
}

.js-navbar--scroll .burger__line {
    background:  $navbar__color--secondary;
}
