$navbar__height: 3.75rem;
$logo__height: 3.75rem;
$logo--size: 2rem;
$nav__link--size: 1.25rem;

$base--s: .75; // multiplier for small devices
$base--m: .9; // multiplier for medium devices

$navbar__background--primary: transparent;
$navbar__background--secondary: $color__fourth;
$navbar__color--primary: $color__fourth;
$navbar__color--secondary: $color__primary;
$nav__background--mobile: rgba(#333, .9);

$navbar--scroll: all .25s ease-in;
$burger--active: transform .35s linear;
$nav__burger--active: opacity .35s ease-out;


