.nav {
	// styling burger menu
	position: absolute;
	top: $navbar__height;
	left: 0;
	visibility: hidden;
    width: 100vw;
    height: 100vh;
	
	background: $nav__background--mobile;

	opacity: 0;
	will-change: opacity;
	transition: $nav__mobile--active, visibility 0s .35s;

	@include laptop {
		position: static;
		visibility: visible;	
		width: auto;
		height: auto;
		
		background: none;

		opacity: 1;
		transition: none;
	}
}

.js-navbar__burger--active .nav {
	visibility: visible;
	color: $navbar__color--primary;
	opacity: 1;
	transition: $nav__mobile--active;
}

.nav__list {
	display: flex;
	flex-direction: column;
	@include laptop {
		flex-direction: row;
	}
}

.nav__link {
	display: inline-block;

    width: 100%;
	padding: ($navbar__height - $nav__link--size)/2;
	
    font-size: $nav__link--size;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;

    &:active,
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.js-navbar__burger--active .nav__list {
	display: flex;
}
