.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
	width: 100%;
	background: $navbar__background--primary;
    color: $navbar__color--primary;
    fill: $navbar__color--primary;
	transition: $navbar--scroll;
}

.navbar--scroll {
	background: $navbar__background--secondary;
	color: $navbar__color--secondary;
	fill: $navbar__color--secondary;
	box-shadow: 0 .01em .3em rgba(0, 0, 0, .8);
}
