.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.9);
	z-index: 1050;
	display: block;
	visibility: hidden;
	opacity: 0;
    overflow: hidden;
	outline: 0;
	padding: .5rem;
	border: none;
	transition: opacity .35s ease-out, visibility .35s;
	@include tablet {
		padding: 1.75rem;
	}
	&.modal--show {
		overflow-x: hidden;
		overflow-y: auto;
		visibility: visible;
		opacity: 1;
	}
}

.modal__dialog {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 95%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .3rem;
	@include tablet {
		max-width: $max-width;
		margin: 0 auto;
	}
}

.modal__header {
	text-align: right;
}

.modal__close {
	display: inline-block;
	.burger__line {
		background: $color__secondary;
	}
}

.modal__body {
	position: relative;
    flex: 1 1 auto;
}

.modal--open {
	overflow: hidden;
	@include laptop {
		padding-right: 17px;
	}
	.navbar {
		@include laptop {
		padding-right: 17px;
		}
	}
}
