$primary__about: $color__fourth;
$secondary__about: $color__secondary;

.about {
    background: $primary__about;
    color: $secondary__about;
    fill: $secondary__about;
    border-color: $secondary__about;
    text-align: center;
}

.about__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.about .card {
	flex: 0 0 100%;
	width: 100%;

	@include tablet {
		flex: 0 0 50%;
		max-width: 50%;
	}
	@include laptop {
		flex: 1;
	}
}
