$primary__about: $color__fourth;
$secondary__about: $color__secondary;

.about {
    background: $primary__about;
    color: $secondary__about;
    fill: $secondary__about;
    border-color: $secondary__about;
    text-align: center;
}

.about__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.about .card {
	width: 100%; // For IE
	@include tablet {
		max-width: 18.27em;
	}

	@include desktop {
		max-width: 22em;
	}
}
