$first: $text__dark;
$second: $color__fourth;
$first--hover: $color__primary;
$second--hover: $color__fourth;

.chip {
	display: flex;
	align-items: center;
	background: $second;
	color: $first;
	fill: $first;
	border: 0.1em solid $first;
	transition: all 0.2s ease-in;

	&:hover,
	&:focus {
		background: $first--hover;
		color: $second--hover;
		fill: $second--hover;
		border: 0.1em solid $first--hover;
	}
}

.chip__img {
	position: relative;
	width: 4em;
	height: 4em;
	padding: 0.8em;
}

.chip__text {
	padding-right: 1.75em;
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.3;
}
