$primary__contact: $color__fourth;
$secondary__contact: $text__dark;
.contact {
    background: $primary__contact;
    color: $secondary__contact;
    fill: $secondary__contact;
    padding-bottom:0;
    z-index: 5;
    
    @include tablet {
        padding-bottom: 5em;
	}

	& .map {
		width: 100%;
		@include tablet {
			width: 50%;
		}
	}

	& .list-group__item:last-child {
		margin: 0;
	}
}
