$primary__loyalty: #FFF !default;
$secondary__loyalty: #F58220 !default;

.loyalty {
    background-color: $primary__loyalty;
    background-image: url('../img/sunny--watermark.svg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: -25vw 50vh;
    color: $secondary__loyalty;
    fill: $secondary__loyalty;
	z-index: 2;
	@include tablet {
		background-position: -25vw 0;
	}
	@include desktop {
		background-size: 65%;
		background-position: -5vw 2vh;
	}
	// Section separator
	&::before,
	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		left: -25%;
		z-index: -1;
		width: 150%;
		height: 100%;
		background: inherit;
		transform: rotate(2deg);
		transform-origin: 0 0;
	}
	&::before {
		height: 50%;
		background: darken(#6BA42C, 5%);
		transform: rotate(4deg);
		transform-origin: 1% 0;
	}
	
	& .card {
		width: 100vw;
		text-align: center;
		@include tablet {
			max-width: 20em;
			text-align: left;
		}
		@include laptop {
			max-width: 25em;
		}
		@include desktop {
			max-width: 32em;
		}
	}
}
