$btn__cta: #48993a !default;
$btn__cta--active: lighten($btn__cta, 3%) !default;
.hero__btn {
	margin: 0 auto;
	z-index: 2;

	will-change: opacity;
}

.hero__btn--cta {
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.5);

    background: $btn__cta;
    color: $text__bright;
    fill: $text__bright;

    // text-align: center; // i dont remember why i used this

    transition: box-shadow 0.25s cubic-bezier(.25, .8, .25, 1);

    &:hover {
        background: $btn__cta--active;
    }

    &:active {
        background: $btn__cta--active;
        box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.75);
	}
	
    @include tablet {
		font-size: 1.5em;
    }
	
	@include laptop {
		bottom: 18vh;
		font-size: 1.8em;
	}

    @include desktop {
        font-size: 1.2em;
	}
}
