.headline {
    @include center__transform (50%, 45%);

    color: $text__bright;

    font-family: $font__secondary;
    text-align: center;
}

.headline__primary {
    margin-bottom: .9em;

    font-weight: 100;
    text-shadow: .05em .05rem #333;

    @include tablet {
        margin-bottom: .9em;
        font-size: 5em;
    }

    @include laptop {
        margin-bottom: 1em;
        font-size: 5em;
    }

    @include desktop {
        margin-bottom: 1em;
        font-size: 3em;
    }
}

.headline__secondary {
    font-weight: 100;
    text-shadow: .125rem .0625rem #333;

    @include tablet {
        font-size: 3em;
    }

    @include laptop {
        font-size: 3.5em;
    }

    @include desktop {
        font-size: 2em;
    }
}
