@import 'mixins/media_queries';
@import 'mixins/center';
$hero__triangle--width: 50vw;
$hero__triangle--height: 10vh;

$hero__height--mobile: 90vh;
$hero__height--desktop: 100vh;
.hero {
	position: relative;
	overflow: hidden;
	height: $hero__height--mobile;
	background-image: url(../img/hero__sm.jpg);
    background-repeat: no-repeat;
	background-size: cover;

	@include small {
		background-image: url(../img/hero__md.jpg);
	}

	@include medium {
		height: $hero__height--desktop;
		background: none;
	}

	// Triangle in mobile
	&::before,
	&::after {
		position: absolute;
		bottom: 0;
		z-index: 1;
		width: 50%;
		height: 0;
		border-bottom: $hero__triangle--height solid $color__fourth;
		content: '';
	}

	&::before {
	left: 0;
	border-right: $hero__triangle--width solid transparent;
	}

	&::after {
	right: 0;
	border-left: $hero__triangle--width solid transparent;
	}

	@include medium {
		&::after,
		&::before {
			display: none;
		}
	}
}

.hero__parallax {
	display: none;
	@include medium {
		position: fixed;
		z-index: -1;
		display: inline;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		will-change: transform;
	}
}

.hero__overlay {
    position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;

    background: rgba(0, 0, 0, 0.25);
}


