@import 'mixins/media_queries';
@import 'mixins/center';

.hero {
	position: relative;
	&::before,
	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		z-index: 1;

		width: 50%;
		height: 0;

		border-bottom: 3em solid $color__fourth;
	}

	&::before {
	left: 0;
	border-right: 10em solid transparent;
	}

	&::after {
	right: 0;
	border-left: 10em solid transparent;
	}

	@include medium {
		&::after,
		&::before {
			display: none;
		}
	}
}

//Mobile masthead
.hero__mobile {
    position: relative;

    display: block;
    height: 90vh;

    background-image: url(../img/hero__sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include medium {
        display: none;
    }
}

//Desktop masthead
.hero__parallax {
    display: none;

    @include medium {
        display: block;
        height: 100vh;

        background-image: url(../img/hero__md.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        //background-position-y: 0; //Parallax background doesn't "jump" when refresh
	}
	@include large {
		background-image: url(../img/hero__bg.jpg);
	}
}

.hero__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 90vh;

    background: rgba(0, 0, 0, 0.25);

    @include medium {
        height: 100vh;
    }
}
